#navbar {
  background-color: blue;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "item1 item2 item2"
    "item1 item4 item4";
}

.img-fluid {
  width: 100%;
  grid-area: item1;
}

.display-4 {
  grid-area: item2;
  text-align: center;
  justify-content: flex-end;
  padding-left: 20px;
  background-color: blanchedalmond;
  border-radius: 35px;
  padding-top: 60px;
}

.lead {
  grid-area: item4;
  text-align: center;
  padding-left: 40px;
  background-color: beige;
  border-radius: 35px;
  padding-top: 60px;
}

.jumbo {
  margin-top: 10px;
  background-color: black;
  border: 4px solid whitesmoke;
  border-radius: 30px;
}

.project {
  background-color: #b0e0e6;
  border: 3px solid black;
  border-radius: 30px;
  margin-top: 10px;
  padding-left: 20px;
}

#sk {
  padding-right: 350px;
}

.skills {
  border: 4px solid black;
  border-radius: 25px;
  margin-top: 10px;
  background-color: #dcdcdc;
}
